# 1일차 강의
- http://github.com/gubosd/lecture19

In [1]:
3*7

21

In [2]:
1+1

2

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
a = '김현호'

In [5]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
1

1

In [8]:
1.

1.0

In [9]:
0.1

0.1

In [10]:
.1

0.1

In [11]:
type(1)

int

In [12]:
type(1.) # float number (실수)

float

In [13]:
print(3.14)

3.14

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [15]:
dir(3.14)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [16]:
type('fjldsjflsfjslfsl')

str

In [17]:
1 + 2 + 3 + 4*5

26

In [18]:
1 + 2 + (3 + 4)*5

38

In [19]:
10/2 # 나누기를 하면 결과는 항상 실수이다!

5.0

In [20]:
10/3 # float number

3.3333333333333335

In [21]:
2**5 # 2*2*2*2*2

32

In [22]:
5/2

2.5

In [23]:
5//2 # 몫

2

In [24]:
5%2 # 나머지

1

In [25]:
10//3

3

In [27]:
11%3

2

In [29]:
1*2/(3*4/5)*6/7*8/9

0.6349206349206349

In [30]:
(1+10) + (2+9) + (3+8) + (4+7) + (5+6)

55

In [31]:
1+2+3+4+5+6+7+8+9+10

55

In [32]:
type(999)

int

In [33]:
type(3.14)

float

In [34]:
int(3.14)

3

In [35]:
float(3)

3.0

In [36]:
int(3.99999999999)

3

- print
- help
- dir
- type
- int
- float

In [37]:
'3.14' # 문자열

'3.14'

In [38]:
3.14

3.14

In [39]:
'3.14'*2

'3.143.14'

In [40]:
s = '3.14'
s

'3.14'

In [41]:
s*2

'3.143.14'

In [42]:
float(s)*2

6.28

In [43]:
a = '10'
pi = '3.14'

In [44]:
a*pi

TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
int(a)*float(pi) # float number

31.400000000000002

In [46]:
float(a)*float(pi)

31.400000000000002

In [47]:
3.14**30

808889954861003.4

In [48]:
3**30

205891132094649

In [49]:
3**100

515377520732011331036461129765621272702107522001

In [50]:
s = 'hello'
s

'hello'

In [51]:
s = "hello"
s

'hello'

In [52]:
s = """hello"""
s

'hello'

In [53]:
s = '''hello'''

In [54]:
s = 'I'm Tom'
s

SyntaxError: invalid syntax (<ipython-input-54-271713efb0aa>, line 1)

In [55]:
s = "I'm Tom"
s

"I'm Tom"

In [56]:
s = 'I\'m Tom'
s

"I'm Tom"

In [57]:
s = 'I am Tom.
You are jane.'
s

SyntaxError: EOL while scanning string literal (<ipython-input-57-5dfe5b638f44>, line 1)

In [58]:
s = 'I am Tom.\nYou are jane.'
s

'I am Tom.\nYou are jane.'

In [59]:
print(s)

I am Tom.
You are jane.

In [60]:
s = 'I am Tom.\tYou are jane.'
s

'I am Tom.\tYou are jane.'

In [61]:
print(s)

I am Tom.	You are jane.

In [62]:
s = 'I am Tom.\
You are jane.'
s

'I am Tom.You are jane.'

In [63]:
s = 'a' # 문자가 하나라도 문자열
s

'a'

In [64]:
s = ''
s

''

In [65]:
type('')

str

In [66]:
str(3.14)

'3.14'

In [67]:
float('3.14일')

ValueError: could not convert string to float: '3.14일'

In [68]:
s = '''I am Tom.
Your are Jane.'''
print(s)

I am Tom.
Your are Jane.

In [69]:
s = """I am Tom.
Your are Jane."""
print(s)

I am Tom.
Your are Jane.

In [70]:
print('안녕하세요')

안녕하세요

In [71]:
print('"안녕하세요"')

"안녕하세요"

In [74]:
print('a\'b"c\'d"e')

a'b"c'd"e

In [75]:
print('''a'b"c'd"e''')

a'b"c'd"e

In [76]:
print('나는\n파이썬을\n\t배웁니다')

나는
파이썬을
	배웁니다

In [81]:
# 주석에 대한 설명

a = 1 # 정수
"""
b = 2
s = '호랑이'
c = 3.33
"""

for i in range(10):
    print(a*i)

0
1
2
3
4
5
6
7
8
9

In [82]:
s = 'abc'
s

'abc'

In [83]:
s + 'def'

'abcdef'

In [85]:
s + 4

TypeError: can only concatenate str (not "int") to str

In [86]:
s*10

'abcabcabcabcabcabcabcabcabcabc'

In [89]:
print('*'*100)

****************************************************************************************************

In [90]:
n = int('9'*20)

In [91]:
n

99999999999999999999

In [93]:
'1'*1 + ' ' + '2'*2 + ' ' + '3'*3 + '4'*4 + '5'*5

'1 22 333444455555'

In [94]:
s = 'I am Tom.'
s

'I am Tom.'

In [95]:
s[0]

'I'

In [96]:
s[-1]

'.'

In [97]:
s[2]

'a'

In [98]:
s[-2]

'm'

In [100]:
s[0:3] # 뒷 번호는 빠진다

'I a'

In [101]:
s[3:7]

'm To'

In [103]:
s[5:8] # 데이터 검색이다!

'Tom'

In [104]:
s[:5] # s[0:5]

'I am '

In [105]:
s[5:] # 끝까지

'Tom.'

In [106]:
s[:] # 몽땅

'I am Tom.'

- 인덱싱 : 번호 붙이기 (0번 부터)
- 슬라이싱 : 어디 부터 어디 까지 (뒷부분은 빠진다)

In [107]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [108]:
s

'I am Tom.'

In [109]:
s[0] = 'Y'

TypeError: 'str' object does not support item assignment