In [1]:
s = 'I am Tom.'
s

'I am Tom.'

In [3]:
print(s)

I am Tom.

In [4]:
s[:]

'I am Tom.'

In [5]:
s2 = s[:]
s2

'I am Tom.'

- 기본자료형에서 슬라이싱을 적용하면 **복사**가 된다
- 중요한 이슈 : 참조냐 복사냐?

In [7]:
print('%d: %10.2f %s' % (3, 3.14, '알라딘'))

3:       3.14 알라딘

In [8]:
print(3, 3.14, '알라딘')

3 3.14 알라딘

In [9]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
help(''.rsplit)

Help on built-in function rsplit:

rsplit(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

      sep
        The delimiter according which to split the string.
        None (the default value) means split according to any whitespace,
        and discard empty strings from the result.
      maxsplit
        Maximum number of splits to do.
        -1 (the default value) means no limit.

    Splits are done starting at the end of the string and working to the front.

In [21]:
line = 'I am Tom.\n' # 텍스트파일에서 읽어온 경우

In [19]:
line.strip()

'I am Tom.'

In [22]:
line.strip().split() # 결과는 리스트다

['I', 'am', 'Tom.']

In [29]:
line = '홍길동\t22\t춘천\n' # 텍스트파일에서 읽어온 경우

In [30]:
line.strip()

'홍길동\t22\t춘천'

In [41]:
strip(line)

NameError: name 'strip' is not defined

In [44]:
line.strip().split('\t') # 결과는 리스트다

['홍길동', '22', '춘천']

In [32]:
s

'I am Tom.\n'

In [33]:
len(s)

10

In [35]:
s[9]

'\n'

In [36]:
s[-1]

'\n'

In [37]:
s

'I am Tom.\n'

In [39]:
s[ 0:9 ]

'I am Tom.'

In [40]:
s[:-1]

'I am Tom.'

In [45]:
s = '홍길동,22, 춘천;175.5 \n'

In [46]:
s.strip().split(',')

['홍길동', '22', ' 춘천;175.5']

In [47]:
s2 = s.strip()
s2

'홍길동,22, 춘천;175.5'

In [48]:
s2[8:]

'춘천;175.5'

In [49]:
s2[8:].split(';')

['춘천', '175.5']

In [50]:
a = [1, 2, 3.1, '장길산', True, False]
a

[1, 2, 3.1, '장길산', True, False]

In [51]:
len(a)

6

In [52]:
type(a)

list

In [53]:
int(3.14)

3

In [54]:
list('I am Tom.')

['I', ' ', 'a', 'm', ' ', 'T', 'o', 'm', '.']

In [55]:
a

[1, 2, 3.1, '장길산', True, False]

In [57]:
# '장길산' 을 뽑고 '길' 도 뽑아보자
a[3][1]

'길'

In [58]:
a[-1]

False

In [59]:
a[:3]

[1, 2, 3.1]

In [60]:
a[1:4]

[2, 3.1, '장길산']

In [61]:
a

[1, 2, 3.1, '장길산', True, False]

In [63]:
a[3] = '신사임당'

In [64]:
a

[1, 2, 3.1, '신사임당', True, False]

In [68]:
a[-2:] = [-1,-1]

In [69]:
a

[1, 2, 3.1, '신사임당', -1, -1]

In [70]:
l = [1, 2.5, 'abc', [3,4,5]]
l

[1, 2.5, 'abc', [3, 4, 5]]

In [74]:
사람들 = [ ['홍길동', 30, '서울'] ]
사람들

[['홍길동', 30, '서울']]

In [75]:
len(사람들)

1

In [77]:
사람들 = [['홍길동', 30, '서울'], ['장길산',27,'춘천'], ['둘리',5,'우주']]
사람들

[['홍길동', 30, '서울'], ['장길산', 27, '춘천'], ['둘리', 5, '우주']]

In [78]:
len(사람들)

3

In [81]:
사람들[2]

['둘리', 5, '우주']

In [82]:
사람들[2][1]

5

In [83]:
data = [[1,2,3], [2,3,4], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [2, 3, 4], [4, 5, 6], [7, 8, 9]]

In [84]:
data[2][2]

6

In [85]:
data[-1][:2]

[7, 8]

In [86]:
data[1:3]

[[2, 3, 4], [4, 5, 6]]

In [87]:
data[1:-1]

[[2, 3, 4], [4, 5, 6]]

In [88]:
s = 'abc'
s + 'def'

'abcdef'

In [89]:
s + 4

TypeError: can only concatenate str (not "int") to str

In [90]:
s + '4'

'abc4'

In [91]:
'abcdef'*100

'abcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdef'

In [92]:
l = [1,2,3]

In [93]:
l + [4,5,6] # 리스트 끼리 더할 수 있다

[1, 2, 3, 4, 5, 6]

In [96]:
l*10

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

In [97]:
l = [1,2,3]

In [98]:
l+[4,5]

[1, 2, 3, 4, 5]

In [99]:
[1]*100

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [103]:
[1,2,3] + [4,5,[6,7,8]]

[1, 2, 3, 4, 5, [6, 7, 8]]

In [104]:
[1,2,3] + [[4],5]

[1, 2, 3, [4], 5]

In [105]:
k = [[3,4,2], [2,5,4], [1,2,1]]
k

[[3, 4, 2], [2, 5, 4], [1, 2, 1]]

In [106]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [107]:
l[2] = 3.0
l

[1, 2, 3.0, 4, 5]

In [108]:
l[2] = [100,200]
l

[1, 2, [100, 200], 4, 5]

In [109]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [111]:
l[:2] + l[-2:]

[1, 2, 4, 5]

In [112]:
l[:2] + l[3:]

[1, 2, 4, 5]

In [113]:
l[:2] + l[2:]

[1, 2, 3, 4, 5]

In [114]:
l

[1, 2, 3, 4, 5]

In [115]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [117]:
s = 'a,b,K,333'
s.strip().split(',')

['a', 'b', 'K', '333']

In [123]:
l.append(100)

In [119]:
l

[1, 2, 3, 4, 5, 100]

In [122]:
l + [1000]

[1, 2, 3, 4, 5, 100, 1000]

In [128]:
# 파이썬의 대표적 자료 처리방식!!
l = [ ]

for i in range(10):
    l.append(2**i)
    
l

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [129]:
l = [3,4,1,5,2]

In [130]:
l.sort()

In [131]:
l

[1, 2, 3, 4, 5]

In [133]:
l = [3,4,1,5,2]
sorted(l)

[1, 2, 3, 4, 5]

In [134]:
l

[3, 4, 1, 5, 2]

In [137]:
sorted('I am Tom.')

[' ', ' ', '.', 'I', 'T', 'a', 'm', 'm', 'o']

In [135]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [138]:
l = [-3,2,-2,1,0,3,-5]
sorted(l)

[-5, -3, -2, 0, 1, 2, 3]

In [139]:
sorted(l, key=abs)

[0, 1, 2, -2, -3, 3, -5]

In [141]:
l = [1,2,3,4,5]
sorted(l, key=lambda x: abs(x-2.1))

[2, 3, 1, 4, 5]

In [144]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []

for i in l:
    l2.append(i[2]*.5) # .5 는 가중치다
    
l2

[1.5, 3.0, 4.5]

In [145]:
data = [[1,2,3,4],
        [5,6,7,8],
        [9,10,11,12],
        [13,14,15,16]]

data

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [146]:
l = []
for i in data:
    l.append(i[1:3])
    
l

[[2, 3], [6, 7], [10, 11], [14, 15]]

In [147]:
l2 = []
for i in data:
    l2.append(sum(i)/len(i))
    
l2

[2.5, 6.5, 10.5, 14.5]

In [148]:
l3 = []
for i in data:
    for j in i:
        if j%3!=0: l3.append(j)
            
l3

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16]

In [149]:
1,2,3

(1, 2, 3)

In [150]:
t = (1,2,3)
t

(1, 2, 3)

In [151]:
list(t)

[1, 2, 3]

In [152]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [153]:
a,b = [1,[2,3]]

In [154]:
a

1

In [155]:
b

[2, 3]

In [156]:
a,(b,c) = [1,[2,3]]

In [157]:
a,b,c

(1, 2, 3)

In [158]:
c

3

In [159]:
(3)

3

In [160]:
(3,)

(3,)

In [162]:
type(())

tuple

In [163]:
t = tuple()

In [164]:
t

()

In [165]:
data = [[1,2], [3,4], [5,6]]
data

[[1, 2], [3, 4], [5, 6]]

In [167]:
for i in data:
    print(i[0], ':', i[1])

1 : 2
3 : 4
5 : 6

In [168]:
for i,j in data:
    print(i,j)

1 2
3 4
5 6

In [169]:
for _,j in data:
    print(j)

2
4
6

In [170]:
s = {1,2,3,3,3,3,3,3,3,3,3,3,3,3,3}
s

{1, 2, 3}

In [171]:
type(s)

set

In [172]:
data = [1,2,3,3,4,5]
set(data)

{1, 2, 3, 4, 5}

In [173]:
data2 = list(set(data))
data2

[1, 2, 3, 4, 5]

In [174]:
data = [1,2,3,4,5]
data2 = [4,5,6,7,8]

In [175]:
set(data) - set(data2)

{1, 2, 3}

In [176]:
set(data2) - set(data)

{6, 7, 8}