In [1]:
import numpy as np

In [23]:
a = np.random.randint(60,101,size=[5,5])
data = a.tolist()

In [24]:
data

[[94, 94, 79, 76, 96],
 [72, 74, 68, 71, 85],
 [95, 90, 76, 82, 91],
 [85, 83, 82, 62, 78],
 [96, 95, 81, 64, 68]]

In [25]:
l = []
for i in data:
    print(sum(i)/len(i))

87.8
74.0
86.8
78.0
80.8

In [26]:
data = [[94, 94, 79, 76, 96],
        [72, 74, 68, 71, 85],
        [95, 90, 76, 82, 91],
        [85, 83, 82, 62, 78],
        [96, 95, 81, 64, 68]]

In [28]:
l1 = [1,1,1,1,1]
l2 = [1,0,0,0,1]
board = [l1,l2,l2,l2,l1]
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

### 연습문제
1. data 에서 평균이 80 이상인 학생과 미만인 학생인 두 리스트로 분리하시오. (하나의 행이 한 학생의 점수를 나타냄)
2. board 에서 가장 가운데 한점의 값을 2로 바꾸어 보시오.

In [30]:
u80 = []
b80 = []

for st in data:
    m = sum(st)/len(st)
    if m>=80:
        u80.append(st)
    else:
        b80.append(st)

In [31]:
u80

[[94, 94, 79, 76, 96], [95, 90, 76, 82, 91], [96, 95, 81, 64, 68]]

In [32]:
b80

[[72, 74, 68, 71, 85], [85, 83, 82, 62, 78]]

In [33]:
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [34]:
board[2][2] = 2

In [35]:
board

[[1, 1, 1, 1, 1],
 [1, 0, 2, 0, 1],
 [1, 0, 2, 0, 1],
 [1, 0, 2, 0, 1],
 [1, 1, 1, 1, 1]]

In [36]:
l1 = [1,1,1,1,1]
l2 = [1,0,0,0,1]
board = [l1.copy(),l2.copy(),l2.copy(),l2.copy(),l1.copy()]
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [37]:
board[2][2] = 2
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 2, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [38]:
l1 = [0,0,0,0,0]
[l1]*5

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [ ]:
l = [[0,0,0,0,0]]*5
l

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [ ]:
l[2][2] = 99999
l

TypeError: 'int' object does not support item assignment

In [41]:
l = [[]]*10
l

[[], [], [], [], [], [], [], [], [], []]

In [43]:
l[0].append(1)
l

[[1], [1], [1], [1], [1], [1], [1], [1], [1], [1]]

In [46]:
m = [0,0,0,0,0]
for i in data:
    for j in range(5):
        m[j] += i[j]
    
m

[442, 436, 386, 355, 418]

In [47]:
1,2,3

(1, 2, 3)

In [48]:
a,b,c = [1,2,3]

In [49]:
홍길동 = [3,4,1,5,3]

In [50]:
홍길동2 = {'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

In [51]:
홍길동

[3, 4, 1, 5, 3]

In [53]:
과목명 = ['국어','영어','수학','과학','컴'] # 코드표다

In [52]:
홍길동2

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

- Numpy => list 아들
- Pandas => dict 아들

In [54]:
data = {'1행': [1,2,3,4,5], '2행': [3,4,5,5,5]}
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 5, 5]}

In [55]:
data['1행']

[1, 2, 3, 4, 5]

In [57]:
for i in data:
    print(i, data[i])

1행 [1, 2, 3, 4, 5]
2행 [3, 4, 5, 5, 5]

In [58]:
type(data)

dict

In [60]:
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 5, 5]}

In [61]:
data['1행'] = 999
data

{'1행': 999, '2행': [3, 4, 5, 5, 5]}

In [62]:
data = {'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}
data

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

In [63]:
data.keys()

dict_keys(['국어', '영어', '수학', '과학', '컴'])

In [64]:
data.values()

dict_values([3, 4, 1, 5, 3])

In [65]:
list(data.keys())

['국어', '영어', '수학', '과학', '컴']

In [66]:
for i in data.keys(): # iterator
    print(i)

국어
영어
수학
과학
컴

In [67]:
data.items()

dict_items([('국어', 3), ('영어', 4), ('수학', 1), ('과학', 5), ('컴', 3)])

In [70]:
for k,v in data.items():
    print(v, "는", k)

3 는 국어
4 는 영어
1 는 수학
5 는 과학
3 는 컴

In [71]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
set(list(range(10))) - set([0,1,2,3,4,5,5,7,8,9])

{6}

In [75]:
True, False

(True, False)

In [76]:
n = -3

In [77]:
n>0

False

In [78]:
3 in [0,1,2]

False

In [80]:
[1] in [0,1,2]

False

In [81]:
False*999

0

In [82]:
True+False

1

In [83]:
type(True)

bool

In [86]:
bool(0.0000000000000001)

True

In [87]:
type(None)

NoneType

In [88]:
n = None
n

- int
- float
- str

- list
- tuple
- dict
- set

- bool

In [89]:
l = [1,2,3,4,5]
l2 = l[:3]

In [90]:
l2[0] = 999

In [91]:
l

[1, 2, 3, 4, 5]

In [92]:
l2 = l[:]

In [ ]:
l2 = l.copy()

In [96]:
n = 3

if n>3:
    print('a')
elif n==3:
    print('b')
else:
    print('c')

c

In [97]:
n = 3
l = [0,1,2]

if n not in l:
    print('n is not in l')

n is not in l

In [98]:
n = 3

if n>3 or n<3:
    print('ok')

In [102]:
n = 3
if n>3:
    #print('ok')
    pass
else:
    print('good')

good

In [105]:
n=3
a = 1 if n>0 else 0
a

1

In [104]:
a = None
n = 3

if n>0:
    a=1
else:
    a=0
    
a

1

In [107]:
n=0
a = 1 if n>0 else (-1 if n<0 else 0)
a

0

### 연습문제
- 구구단의 결과를 표형태 리스트로 만드시오

In [109]:
multiTable = []

for i in range(1, 10):
    tmp = []
    for j in range(1, 10):
        tmp.append(i*j)
    multiTable.append(tmp)

multiTable

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [110]:
# list comprehension
multiTable = [[i*j for j in range(1, 10)] for i in range(1, 10)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [118]:
for i in range(9,-1,-2):
    print(i)

9
7
5
3
1

In [123]:
[ i*j for i in range(3) for j in range(10,13) ]

[0, 0, 10, 12, 20, 24]

In [124]:
[ [i*j for j in range(10,13)] for i in range(3)  ]

[[0, 0, 0], [10, 11, 12], [20, 22, 24]]

In [138]:
def myf(a,b,c=0):
    s = a+2*b+3*c
    return s

In [139]:
myf(1,2,3)

14

In [140]:
myf(1,2)

5

In [141]:
myf([1],[2],[3,4])

[1, 2, 2, 3, 4, 3, 4, 3, 4]

In [142]:
n = 99

def myf(x):
    return n+x

In [143]:
myf(1)

100

In [144]:
n = 1

In [145]:
myf(1) # x=1; n+x

2

In [146]:
def myf(a,b):
    return a+b

In [147]:
myf(1,2)

3

In [148]:
myf = lambda a,b: a+b

In [149]:
myf(1,2)

3

In [150]:
l = [3,4,1,2,5]
sorted(l, key=lambda x: -x) # [-3,-4,-1,-2,-5]

[5, 4, 3, 2, 1]

In [151]:
l = [3,4,1,2,5]
sorted(l, key=lambda x: abs(2.1-x))

[2, 3, 1, 4, 5]

In [152]:
def mysort(x):
    return abs(2.1-x)

sorted(l, key=mysort)

[2, 3, 1, 4, 5]

In [153]:
a = input()

333

In [154]:
a

'333'

### 파일 입출력

In [19]:
f = open('어렵군.txt', encoding='cp949') # utf-8, cp949

In [20]:
f.read()

'어렵군~'

In [21]:
f.close()

In [22]:
f = open('테스트.txt', 'w')

In [23]:
f.write('이것은\n\t테스트이다!')

11

In [24]:
f.close()

In [26]:
f = open('테스트.txt') # 기본은 encoding='cp949'
print(f.read())
f.close()

이것은
	테스트이다!

In [27]:
import os
os.getcwd()

'c:\\김현호'

In [36]:
f = open('안녕.txt', encoding='utf-8')

In [37]:
for line in f:
    print(line.strip())

안녕하세요~
저는
김현호입니다.

In [39]:
f.close()

In [41]:
f = open('안녕.txt', encoding='utf-8')
s = f.read()
f.close()

In [42]:
s

'안녕하세요~\n저는\n\t김현호입니다.'

In [45]:
f = open('안녕.txt', encoding='utf-8')
s1 = f.readline()
s2 = f.readline()
f.close()

In [46]:
s1

'안녕하세요~\n'

In [47]:
s2

'저는\n'

In [48]:
f = open('안녕.txt', encoding='utf-8')
s = f.readlines()
f.close()

In [49]:
s

['안녕하세요~\n', '저는\n', '\t김현호입니다.']