In [61]:
import numpy as np
import pandas as pd

In [62]:
# 5월 달력

may = np.arange(1,36).reshape(-1,7)
may = pd.DataFrame(may, columns=[ '일', '월', '화', '수', '목', '금', '토'])
may

    일   월   화   수   목   금   토
0   1   2   3   4   5   6   7
1   8   9  10  11  12  13  14
2  15  16  17  18  19  20  21
3  22  23  24  25  26  27  28
4  29  30  31  32  33  34  35

In [63]:
may.insert(0,' ',[' ',' ',' ',' ',' '])
may = may.set_index(' ')
may

    일   월   화   수   목   금   토

    1   2   3   4   5   6   7
    8   9  10  11  12  13  14
   15  16  17  18  19  20  21
   22  23  24  25  26  27  28
   29  30  31  32  33  34  35

In [64]:
may.iloc[4,3:] = ' '

print("---------------5월---------------\n")
print(may)

---------------5월---------------

    일   월   화   수   목   금   토

    1   2   3   4   5   6   7
    8   9  10  11  12  13  14
   15  16  17  18  19  20  21
   22  23  24  25  26  27  28
   29  30  31

In [91]:
# 달력만들기

def lastDay(year, month):
    m = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    return m[month - 1]

def totalDay(year, month, day):
    total = (year -1)*365 + (year -1)//4 - (year -1)//100 + (year -1)//400
    for i in range(1, month):
        total += lastDay(year, i)
    return total + day

def weekDay(year,month,day):
    return totalDay(year, month, day) % 7


weekdays = ["일", "월", "화", "수", "목", "금", "토"]



# 출력
year, month = map(int, input("출력할 년, 월을 입력하세요 : ").split())
print("    {0:4d}년{1:2d}월".format(year,month))

for day in weekdays:
    print(day, end = "  ")
    
print("\n")
    
for i in range(weekDay(year, month,1)):
    print("    ", end="")
    
    
for i in range(1,lastDay(year, month)+1):
    print(' {0:2d}'.format(i), end="")
    
    if weekDay(year,month,i) == 6 and i != lastDay(year, month):
        print()

출력할 년, 월을 입력하세요 : 2022 5
    2022년 5월
일  월  화  수  목  금  토

  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31

In [1]:
import calendar

In [2]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31