In [85]:
import numpy as np
import pandas as pd

In [98]:
df = pd.DataFrame(np.array([range(1,30)]), columns = ['월','화','수','목','금','토','일'], Null = True )

TypeError: __init__() got an unexpected keyword argument 'Null'

In [ ]:


'pd.DataFrame(monthcalendar(2022,{0})'.format(i)

In [ ]:
'pd.DataFrame(monthcalendar(2022,{0})'.format(i)

In [147]:

for i in range(1,13):
    df = 'pd.DataFrame(monthcalendar(2022,{0})'.format(i)

TypeError: 'NoneType' object is not iterable

In [128]:
df = pd.DataFrame(monthcalendar(2022,{0}), columns = ['월','화','수','목','금','토','일'], index =None )
df

    월   화   수   목   금   토   일
0   0   0   0   0   0   1   2
1   3   4   5   6   7   8   9
2  10  11  12  13  14  15  16
3  17  18  19  20  21  22  23
4  24  25  26  27  28  29  30
5  31   0   0   0   0   0   0

In [151]:
for i in range(1,13):
    print('monthcalendar(2022,{0}'.format(i))

monthcalendar(2022,1
monthcalendar(2022,2
monthcalendar(2022,3
monthcalendar(2022,4
monthcalendar(2022,5
monthcalendar(2022,6
monthcalendar(2022,7
monthcalendar(2022,8
monthcalendar(2022,9
monthcalendar(2022,10
monthcalendar(2022,11
monthcalendar(2022,12

In [ ]:
np.busdaycalendar

In [92]:
pd.DataFrame[np.array([range(1,30)])]

TypeError: 'type' object is not subscriptable

In [71]:
df = df + a1
df, index = ['월','화','수','목','금','토','일']

Empty DataFrame
Columns: [월, 화, 수, 목, 금, 토, 일]
Index: []

In [81]:
a1 = np.arange(7)
a1

array([0, 1, 2, 3, 4, 5, 6])

In [49]:
a1[0:,:31]
pd.period_range

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34]])

In [5]:
# Some important days in July
bdd = np.busdaycalendar(
            holidays=['2011-07-01', '2011-07-04', '2011-07-17'])
# Default is Monday to Friday weekdays
bdd.weekmask
np.array([ True,  True,  True,  True,  True, False, False])
# Any holidays already on the weekend are removed
bdd.holidays
np.array(['2011-07-01', '2011-07-04'], dtype='datetime64[D]')

array(['2011-07-01', '2011-07-04'], dtype='datetime64[D]')

NameError: name 'array' is not defined

In [ ]:
#

달력을 출력할 년, 월을 입력하세요 :  10

ValueError: not enough values to unpack (expected 2, got 1)

In [166]:
from calendar import *

In [167]:
calender = calender.calender

NameError: name 'calender' is not defined

In [125]:

print(monthcalendar(2022,1))

[[0, 0, 0, 0, 0, 1, 2], [3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16], [17, 18, 19, 20, 21, 22, 23], [24, 25, 26, 27, 28, 29, 30], [31, 0, 0, 0, 0, 0, 0]]

In [152]:
monthcalendar??

Signature: monthcalendar(year, month)
Source:
    def monthdayscalendar(self, year, month):
        """
        Return a matrix representing a month's calendar.
        Each row represents a week; days outside this month are zero.
        """
        days = list(self.itermonthdays(year, month))
        return [ days[i:i+7] for i in range(0, len(days), 7) ]
File:      c:\users\kyun\anaconda3\lib\calendar.py
Type:      method

Object `Calender` not found.

TypeError: monthdayscalendar() missing 1 required positional argument: 'month'

In [184]:
monthcalendar(2022,3)

[[0, 1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12, 13],
 [14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27],
 [28, 29, 30, 31, 0, 0, 0]]

In [156]:
 def monthdayscalendar(self, year, month):
        days = list(self.itermonthdays(year, month))
        return [ days[i:i+7] for i in range(0, len(days), 7) ]

In [188]:
year = input('년도')
month = input('월')
monthcalendar(year,month)

년도 2022
월 10

TypeError: '<=' not supported between instances of 'int' and 'str'

In [ ]:
# 으앙!!
# 캘린더 만들어진 함수 보니까 0으로 넣어서 7열에 들어가게 만드는 것이 포인트 인 것 같은데? ?

In [189]:
df = pd.DataFrame(monthcalendar(2022,5), columns = ['월','화','수','목','금','토','일'] )
df

    월   화   수   목   금   토   일
0   0   0   0   0   0   0   1
1   2   3   4   5   6   7   8
2   9  10  11  12  13  14  15
3  16  17  18  19  20  21  22
4  23  24  25  26  27  28  29
5  30  31   0   0   0   0   0